/* iCheck plugin Square skin, pink
----------------------------------- */
.iradio_square-cpink {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    width: 28px;
    height: 28px;
    background: url(cpink.png) no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_square-cpink {
    background-position: 0 0;
}
    .iradio_square-cpink.hover {
        background-position: 0 0;
    }
    .iradio_square-cpink.checked {
        background-position: -28px 0;
    }
