@charset "utf-8";
/* CSS Document */
.videozone .video-box .slide .carousel-indicators{
	/*bottom:-40px !important;*/
}
.top-inner .visible-lg-inline-block{
	display:block !important;
}
.header--fixed{
	background-color:#fff;
	border-bottom:solid 2px #e9e9e9;
}
.message-box .mb-top{
	background-color:none !important;
	filter:none !important;
}
.videozone .desc A.btn:hover{
	background-image:none !important;
}
.hidden-lg{
	display:none !important;
}
.attentionus a i{
	margin-left:10px !important;
}
.container{ width: 970px;}
.main-menu UL.nav LI .bdsharebuttonbox{ right: 0;}
.message-box{ bottom: -18px;}
.ie .voteonepage .hoveraction .share{margin-top: -1px;margin-right: 5px;}
