@charset "utf-8";
/* 全局 */
body{margin:0;background:#fff;font-family:"Arial"}
div{position:absolute;width:100%}
img{width:100%;border:none}
#attention{position:fixed;width:100%;top:0;height:100%;background:#1d1d20;color:#FFF;z-index:99999;display:none}
.full_bg{background-repeat:no-repeat;background-size:100% 100%}
.top_bg{background-repeat:no-repeat;background-size:100%;background-position:top}
.bottom_bg{background-repeat:no-repeat;background-size:100%;background-position:bottom}
.center_bg{background-repeat:no-repeat;background-size:100%;background-position:center}
.top_bg{background-repeat:no-repeat;background-size:100% !important;background-position:top}
.full_tb{width:100%;height:100%;border:none}
.but{width:26%}
/* index_app */
#index_bg{background-image:url(../images/game_bg.jpg);height:100%}
/* game */
#timer{width:18%;height:7em;left:41%;line-height:12.2em;font-size:2em;text-align:center;color:#e44667;font-weight:bold;background-image:url(../images/timeboard.png);bottom:8.5em}
#tline{width:65%;height:1.65em;background-image:url(../images/timerbg.png);bottom:1.8em;left:26%;display:none}
#tlinenow{position:static;width:97%;height:1.6em;background-image:url(../images/timernow.png);background-repeat:no-repeat;background-size:auto 1.65em;left:25%}
#timetxt{width:70%;left:30%;bottom:1.7em;font-size:1.2em;color:#e14666;display:none}
#timetip{width:12%;right:12%;background-image:url(../images/timetip.png);background-size:100%;background-position:bottom;padding-bottom:1em;text-align:center;color:#fff}
#game_bg{background-image:url(../images/game_bg.jpg);height:100%}
#game_head{width:100%;top:0}
#game_foot{width:100%;bottom:0;display:none}
#game_tb{position:absolute}
ul{margin:0;list-style-type:none;padding:0}
#nav-list-example{position:static;width:96%;margin-left:0.5%}
#nav-list-example li{width:25%;float:left;position:relative}
#nav-list-example li div{width:100%;height:100%;overflow:hidden;position:absolute;top:0;left:0}
#restart_show_but,#pause_show_but{width:60%}
#pause,#restart,#fail{height:100%;top:0;left:0;background-image:url(../images/cover_bg.jpg);display:none}
#fail_img{width:0%}
#fail_txt{margin-top:0.5em;margin-bottom:0.5em;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
#fail_but{filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
#ad{left:0;top:0;height:100%;width:100%;display:none}
#ad_bg{left:0;top:0;height:100%;width:100%;background:#FFF;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}
#stop_ico{display:none}
#ad_f{position:absolute;top:0;left:0}
#ad1{position:static;width:100%;background:url(../images/info_1.png);height:21.3em;display:none}
#ad1_txt{margin-left:15%;margin-top:17.5em}
#ad2{position:static;width:100%;background:url(../images/info_2.png);height:21.3em;display:none}
#ad2_txt{margin-left:15%;margin-top:17.5em}
#ad3{position:static;width:100%;background:url(../images/info_3.png);height:21.3em;display:none}
#ad3_txt{margin-left:26%;margin-top:18em}
.ad_goon{color:#e44667}.ad_over{color:#4e79ac}
#advideo{width:80%;margin-top:1.5em}
/* success */
#s_bg{background-image:url(../images/success_bg.jpg);height:100%}
#sf_3{width:60%;margin-top:0.8em}
.wsf{position:static !important;width:80%;margin-bottom:0.5em}
.wsf_m{position:static !important;width:90%;background:#fff;text-align:left;font-size:.8em;padding:0.5em 5% 1em;display:none}
#hideimg{position:absolute;font-size:0;width:1px;height:1px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
#loadingbg{position:absolute;background:#cdcece;height:0.4em;width:80%;left:10%}
#loading{background-image:url(../images/loading.gif);background-size:100% 100%;height:0.4em;width:0}
