/*hundred-lessons*/
/* line 5, ../sass/screen.scss */
.hundred-lessons {
  background: #ffd1d0;
  min-height: 100%;
}
/* line 9, ../sass/screen.scss */
.hundred-lessons a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* line 15, ../sass/screen.scss */
.hl-icon {
  display: inline-block;
}
/* line 18, ../sass/screen.scss */
.icon-crwon {
  background-image: url("../images/crown.png");
  background-size: cover;
  width: 15px;
  height: 12px;
}

/* line 29, ../sass/screen.scss */
.hl-header {
  background: url("../images/headerbg.jpg") no-repeat center;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  text-align: center;
  margin-bottom: 0.833em;
}
/* line 34, ../sass/screen.scss */
.hl-header .hl-button {
  background: #fff100;
  color: #fc5d86;
  font-size: 1.125em;
  font-weight: 800;
  padding: 0.78em 2.95em;
  margin-top: 4.8em;
  margin-bottom: 1.2em;
  border-style: solid;
  border-radius: 1.5em;
  border-width: 0.16667em;
  border-color: white;
}

/* line 57, ../sass/screen.scss */
.hl-article .hl-section {
  margin: 0 1em 1.4375em;
}
/* line 60, ../sass/screen.scss */
.hl-article .hl-title {
  background: #fc5d86;
  color: white;
  position: relative;
  z-index: 2;
  margin-bottom: 0.28571em;
  padding: 0.71429em 1.07143em;
  font-size: 0.875em;
}
/* line 72, ../sass/screen.scss */
.hl-article .hl-title::before {
  content: " ";
  display: block;
  width: 0.57143em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1.28571em solid rgba(255, 255, 255, 0);
  border-left: none;
  border-right: 0.57143em solid #ffd1d0;
  border-bottom: 1.28571em solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
}
/* line 88, ../sass/screen.scss */
.hl-article .hl-title::after {
  content: " ";
  display: block;
  width: 100%;
  height: 0.28571em;
  position: absolute;
  bottom: -0.28571em;
  left: 0;
  border-top: 0.28571em solid #da2751;
  border-left: 0.28571em solid rgba(255, 255, 255, 0);
  border-right: 0.28571em solid rgba(255, 255, 255, 0);
  border-bottom: none;
  box-sizing: border-box;
}
/* line 105, ../sass/screen.scss */
.hl-article .hl-operate {
  float: right;
}
/* line 107, ../sass/screen.scss */
.hl-article .hl-operate .hl-circle {
  display: inline-block;
  border-radius: 0.5em;
  background: rgba(232, 61, 102, 0.6);
  vertical-align: middle;
}
/* line 114, ../sass/screen.scss */
.hl-article .hl-con {
  background: white;
  font-size: 0.8125em;
  padding: 0 0.76923em;
  margin: 0 0.30769em;
  -moz-box-shadow: 1.5px 1.5px 0 #ffb5b4, 1.5px -1.5px 0 #ffb5b4;
  -webkit-box-shadow: 1.5px 1.5px 0 #ffb5b4, 1.5px -1.5px 0 #ffb5b4;
  box-shadow: 1.5px 1.5px 0 #ffb5b4, 1.5px -1.5px 0 #ffb5b4;
}
/* line 120, ../sass/screen.scss */
.hl-article .hl-con ul {
  margin: 0;
  padding-left: 0;
}
/* line 123, ../sass/screen.scss */
.hl-article .hl-con ul li {
  list-style: none;
  padding: 1em 0;
  border-bottom: 1px solid #dcdcdc;
}
/* line 127, ../sass/screen.scss */
.hl-article .hl-con ul li:last-child {
  border-bottom: none;
}
/* line 132, ../sass/screen.scss */
.hl-article .hl-con .hl-count {
  color: #fc5d86;
}
/* line 135, ../sass/screen.scss */
.hl-article .hl-con .hl-total {
  float: right;
}
/* line 138, ../sass/screen.scss */
.hl-article .hl-con .hl-chief {
  font-weight: 800;
}
/* line 142, ../sass/screen.scss */
.hl-article .hl-con-2 {
  position: relative;
  -moz-box-shadow: 1.5px 1.5px 0 #ffb5b4;
  -webkit-box-shadow: 1.5px 1.5px 0 #ffb5b4;
  box-shadow: 1.5px 1.5px 0 #ffb5b4;
}
/* line 145, ../sass/screen.scss */
.hl-article .hl-con-2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  background-image: linear-gradient(90deg, #bbbbbb 70%, rgba(0, 0, 0, 0) 0%);
  background-size: 1.5em 1px;
}
/* line 158, ../sass/screen.scss */
.hl-article .hl-con-circle {
  position: relative;
}
/* line 160, ../sass/screen.scss */
.hl-article .hl-con-circle::before, .hl-article .hl-con-circle::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffd1d0;
  z-index: 2;
  border-radius: 10px;
}
/* line 171, ../sass/screen.scss */
.hl-article .hl-con-circle::before {
  left: -10px;
}
/* line 175, ../sass/screen.scss */
.hl-article .hl-con-circle::after {
  right: -10px;
}

/*# sourceMappingURL=screen.css.map */
