  /* fontlezen_ddpic begin */
/*左右按钮的样式*/
#flz_prev,#flz_next{ width: 20px; height: 32px; position: absolute; top:50%; margin-top: -16px;}
/*animation-iteration-count: n|infinite;*/
#flz_prev{ left: 4%; -webkit-animation:flz_prev 1s infinite; animation:flz_prev 1s infinite;}
#flz_next{ right: 4%; -webkit-animation:flz_next 1s infinite; animation:flz_next 1s infinite;}
#flz_prev img,#flz_next img{ width: 100%;}

/*列表的基本样式*/
#fonglezen_ddpic{ width:247px; height: 413px; position: absolute; z-index: 25; top:50%; left:50%; margin-left: -127px; margin-top: -210px; }
#fonglezen_ddpic li{ position: absolute; left: 0; top: 0; text-align: center; width:247px; height: 413px; box-sizing:border-box;}
#fonglezen_ddpic li img{ width:100%; height: 100%; border:3px solid #fff;}

@keyframes goimg{
    /*scale(x,y)：定义缩放*/
    /*rotate：定义2D旋转  rotateZ:定义Z轴旋转，X轴是屏幕竖向，Y轴是屏幕横向，X或者Y轴旋转90度时我们就看不到元素了，Z轴是相当正对这我们的平面，旋转90度时相当元素的长宽对换。*/
    /*translate定义位移，正数代表向左或者向下*/
    /*tranform-origin 定义的是旋转的基点位置，默认是50% 50%也就是一个中心点，这样我们rotateZ则是相对于原来位置旋转了90%
        这里设置的为0 100%,可以看出是一个长方形的左下角作为基点
    整体加起来的效果是：不透明，整体放大1.5倍，以左下角为基点，向右倾斜40度，然后Y轴平移100px,X轴平移300px
    */
  from{ opacity: 0;transform:scale(1.5,1.5) rotateZ(40deg) translateY(100px) translateX(300px); tranform-origin:0 100%;}
  to{ opacity: 1;}
}


/*最底下的z-index为5*/
#fonglezen_ddpic li{ z-index: 5;}
#fonglezen_ddpic li:nth-child(1){z-index: 10;}
#fonglezen_ddpic li:nth-child(2){z-index: 9;}
#fonglezen_ddpic li:nth-child(3){z-index: 8;}
#fonglezen_ddpic li:nth-child(4){z-index: 7;}
#fonglezen_ddpic li:nth-child(5){z-index: 6;/*  display: none; */}

#fonglezen_ddpic li img{
/*    Z轴旋转12度，注意这里基点是50% 50%*/
    transform:rotateZ(12deg);
/*    这是最后的那些照片，z-index为5*/
    z-index: 5;
/*    旋转时不显示背面，如果不为hidden时，rotatoX或者rotatoY 90-270 这段时间里，我们能看到文字等内容是反转的，如果是hidden，旋转过去的时候就看不到东西了
    这里只对Z轴进行的旋转，所以并不会有什么效果
    */
    backface-visibility: hidden;
/*    元素距离视图的距离，以像素计。*/
/*    perspective 属性只影响 3D 转换元素。*/
    perspective: 1000;
}

/*最上边一张图片*/
#fonglezen_ddpic li:nth-child(1) img{
/*    最上边没有旋转角度，比较正*/
   transform:rotateZ(0deg);
    z-index: 10;
}
/*只有在初始化时有这个class,也就是图片飞入的效果*/
#fonglezen_ddpic li:nth-child(1) .goimg{
/*
    animation 属性是一个简写属性，用于设置六个动画属性：
        animation-name 规定需要绑定到选择器的 keyframe 名称。。
        animation-duration 规定完成动画所花费的时间，以秒或毫秒计。
        animation-timing-function 规定动画的速度曲线。
        animation-delay 规定在动画开始之前的延迟。
        animation-iteration-count
        animation-direction
    */
    animation:goimg 0.6s;

/*
    animation-fill-mode 属性规定动画在播放之前或之后，其动画效果是否可见。
        both	向前和向后填充模式都被应用。
    */
     animation-fill-mode:both;
/*
    animation-delay 规定在动画开始之前的延迟。*/
    animation-delay:2s;
}

#fonglezen_ddpic li:nth-child(2) img{ transform:rotateZ(3deg); z-index: 9;}
#fonglezen_ddpic li:nth-child(2) .goimg{ animation:goimg 0.6s; animation-fill-mode:both; animation-delay:1.5s;}

#fonglezen_ddpic li:nth-child(3) img{transform:rotateZ(6deg); z-index: 8; }
#fonglezen_ddpic li:nth-child(3) .goimg{animation:goimg 0.6s; animation-fill-mode:both; animation-delay:1s;}

#fonglezen_ddpic li:nth-child(4) img{ transform:rotateZ(9deg); z-index: 7; }
#fonglezen_ddpic li:nth-child(4) .goimg{ animation:goimg 0.6s; animation-fill-mode:both; animation-delay:0.5s;}

#fonglezen_ddpic li:nth-child(5) img{transform:rotateZ(12deg); z-index: 6;}
#fonglezen_ddpic li:nth-child(5) .goimg{  animation:goimg 0.6s; animation-fill-mode:both; animation-delay:0s;}

@keyframes hideToright{
	from{ opacity: 1; transform: translate3d(0,0,0);}
	to{ opacity: 0; transform: translate3d(100%,0,0); }
}
.hideToright{ animation:hideToright 0.5s; animation-fill-mode:both;}

@keyframes hideToleft{
/*    translate3d(-100%,0,0); 其实就是translateX Y Z 的集合 水平向左移动100% 后消失*/
	from{ opacity: 1; transform: translate3d(0,0,0); }
	to{ opacity: 0; transform: translate3d(-100%,0,0); }
}
.hideToleft{ animation:hideToleft 0.5s; animation-fill-mode:both;}

/*每次移动一张后，都对前五张的倾斜度进行修正*/
@keyframes backinit{
	from{transform:rotateZ(3deg);}
	to{transform:rotateZ(0deg);}
}
/*注意此时的第一张实际上被移动到了左边/右边但还没有插入到最后，所以是从第二张开始*/
#fonglezen_ddpic li:nth-child(2) .backinit{
    animation:backinit 0.5s; animation-fill-mode:both; animation-delay:0;
}

@keyframes backinit1{
	from{ transform:rotateZ(6deg);}
	to{transform:rotateZ(3deg);}
}
#fonglezen_ddpic li:nth-child(3) .backinit1{  -webkit-animation:backinit1 0.5s; -webkit-animation-fill-mode:both; animation:backinit1 0.5s; animation-fill-mode:both;-webkit-animation-delay:0.15s; animation-delay:0.15s;}

@-webkit-keyframes backinit2{
	from{-webkit-transform:rotateZ(9deg); }
	to{-webkit-transform:rotateZ(6deg);}
}
@keyframes backinit2{
	from{ transform:rotateZ(9deg);}
	to{transform:rotateZ(6deg);}
}
#fonglezen_ddpic li:nth-child(4) .backinit2{  -webkit-animation:backinit2 0.5s; -webkit-animation-fill-mode:both; animation:backinit2 0.5s; animation-fill-mode:both;-webkit-animation-delay:0.3s; animation-delay:0.3s;}

@-webkit-keyframes backinit3{
	from{-webkit-transform:rotateZ(12deg); }
	to{-webkit-transform:rotateZ(9deg);}
}
@keyframes backinit3{
	from{ transform:rotateZ(12deg);}
	to{transform:rotateZ(9deg);}
}
#fonglezen_ddpic li:nth-child(5) .backinit3{  -webkit-animation:backinit3 0.5s; -webkit-animation-fill-mode:both; animation:backinit3 0.5s; animation-fill-mode:both;-webkit-animation-delay:0.45s; animation-delay:0.45s;}

@-webkit-keyframes backinit4{
	from{-webkit-transform:rotateZ(9deg); }
	to{-webkit-transform:rotateZ(12deg);}
}
@keyframes backinit4{
	from{ transform:rotateZ(9deg);}
	to{transform:rotateZ(12deg);}
}
#fonglezen_ddpic li:nth-child(5) .backinit4{  -webkit-animation:backinit4 0.5s; -webkit-animation-fill-mode:both; animation:backinit4 0.5s; animation-fill-mode:both;}


@keyframes flz_prev{
	0%,100%{ transform:translate3d(0,0,0);}
	30%{ transform:translate3d(-90%,0,0);}
	60%{ transform:translate3d(-40%,0,0);}
	80%{ transform:translate3d(-70%,0,0);}
}

@keyframes flz_next{
	0%,100%{ transform:translate3d(0,0,0);}
	30%{ transform:translate3d(90%,0,0);}
	60%{ transform:translate3d(40%,0,0);}
	80%{ transform:translate3d(70%,0,0);}
}
/* fontlezen_ddpic begin */
