@charset "utf-8";
.card-td{
    height: 12.2rem;
}
.card{
    position: relative;
    /*left: 0;*/
    /*right: 0;*/
    width: auto;
    /*overflow: hidden;*/
    /*background: #FFFFFF;*/
    background: rgba(255,255,255,.5);
    /*bottom: 0;*/
    z-index: 102;
}
.card *{
    margin: 0;
    width: auto;
}
.card div{
    position: relative;
}
.card a,.card a:focus,.card a:active{
    outline: none;
    text-decoration: none;
    color: #666666;
}
.card-header{
    /*background: #f789ac;*/
    background: rgba(247, 137, 172,.5);
}
.card-header .card-title{
    padding: 0.625em 1.2em;
    color: white;
    font-size: 1em;
    white-space:nowrap;
}
 .card-title-icon{
    width: 2em;
    height: 2em;
    background: url("../images/card-icon.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: .25em;
}
.card-header .card-header-body{
    font-size: .75em;
    line-height: 1.5;
    color: white;
    padding: .5em  1.166667em;
    border-top: 1px solid #f47096;
}
.card-body{
    font-size: 0.875em;
    padding: 0.5em 1.2em;
    line-height: 1.85714;
    color: #333;
}
.card-body .name,.card-body .phone-num{
    color: #f789ac;
}
.card-body .user-list{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 10.5em;
    display: block;
}
.card-body .user-avatar{
    display: block;
    border-radius: 1.8125em;
    background: #c9c9c9;
    width: 2em;
    height:2em;
    margin-top: .25em;
    margin-bottom: .25em;
    margin-right: .1em;
}
.card-body .user-avatar img{max-width: 100%;}
.card-body .user-name{color: #f95086;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 6em;
    display: block;
    font-size: .92857em;}
.card-body .user-status{
    font-size: .85714em;color: #333333;
    margin-right: .5em;
    margin-left: .5em;
}
.card-body .user-date{color: #999999;
    font-size: .85714em;}
.card-footer{
   padding:  .2em 1.2em .75em;
}
.card-footer table{
    float: right;
    color: #666;
    font-size: 0.75em;
    border-collapse: collapse;
    border-spacing: 0;
}
.card-footer .btn{
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #3ec576;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #3ec576;
    padding: 0.6667em 4.2em;
    font-size: 0.9375em;
    /*width: 11.33333em;*/
}
.card-footer .btn.btn-done{    padding: 0.6667em 1.9em;
    background-color: #ffa200;
    border-color: #ffa200;
}
.card-footer .callout{
    background: url("../images/icon-callout.png");
    display: block;
    width: 1.416667em;
    height: 1.416667em;
    -webkit-background-size:100% 100%;
    background-size: 100% 100%;
}
.card-footer .icon-sms{
    background: url("../images/icon-bubble.png");
    width: 1.5em;
    height: 1.416667em;
    display: block;
    -webkit-background-size: 100% 100%;
    background-size:100% 100%;
}
.card-footer .middle-line{
    height: 2em;
    margin: auto 1.2em;
    display: block;
    width: 1px;
    background: #e5e5e5;
}
.card-footer .callout,.card-footer .icon-sms{margin: 0 auto .5em}
.card-footer .about-more{color: #999999;
    font-size: .75em;}
