@charset "utf-8";
body{margin:0;background:#000;color:#fff;font-family:"Arial"}
div{position:absolute;width:100%}
img{width:100%;border:none}
#hide{position:absolute;font-size:0;width:1px;height:1px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
#attention{position:fixed;width:100%;top:0;height:100%;background:#1d1d20;color:#FFF;z-index:99999;display:none}
.full_bg{height:100%;background-repeat:no-repeat;background-size:100% 100%}
.top_bg{height:100%;background-repeat:no-repeat;background-size:100%;background-position:top}
.bottom_bg{height:100%;background-repeat:no-repeat;background-size:100%;background-position:bottom}
.center_bg{height:100%;background-repeat:no-repeat;background-size:100%;background-position:center}
.full_tb{width:100%;height:100%;border:none}
.bcover{position:fixed;height:100%;background:#000;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9}
.start_go{width:40%}
/* index */
#loading_sinker{width:30%;left:38%}
#index_board{background-image:url(../images/index_board.jpg)}
#index_bg{background-image:url(../images/index_bg.jpg)}
#loading_logo,#index_logo{top:0.8em}
#index_title{background-image:url(../images/index_title.png);background-size:100%;background-repeat:no-repeat}
#index_title_main{width:29%;margin-left:36%;margin-top:0.6em}
#index_foot{bottom:2.5em}
#index_but{width:40%;right:12%}
#index_rule{width:27%;right:18%}
#rule{background-image:url(../images/rule.png);}
#rule_close{width:10%;right:15%}
#rule_but{width:34%;left:33%}
#product{background-image:url(../images/product_bg.jpg);height:100%;background-size:auto 100%;background-position:center}
#product_close{width:25%;bottom:1em;left:10%}
/* game */
#ready2,#ready3{background:#ffe7e7;height:100%;top:0}
.stage{height:100%;top:0;left:0}
#stage1,#stage2,#stage3{background:#ffe7e7;display:none}
#stage1_bg{background-image:url(../images/s1_bg.png);height:18.5em;bottom:-18.5em}
.s_title{width:76%;left:12%}
.s_but{width:60%;left:20%;}
#s1_bag{width:42%;left:29%;height:10.5em}
.s1_wrong1{width:35.1%;left:45%;margin-top:0.6em}
.s1_wrong2{width:22.2%;left:15%;margin-top:1.8em}
.s1_wrong3{width:24.5%;left:65%;margin-top:2.2em}
.s1_wrong4{width:48.3%;left:35%;margin-top:0.6em}
.s1_wrong5{width:43%;left:35%;margin-top:1.8em}
.s1_wrong6{width:26.1%;left:65%;margin-top:2.2em}
.s1_wrong7{width:14.5%;left:75%;margin-top:1.3em}
.s1_wrong8{width:32.1%;left:25%;margin-top:1.8em}
.s1_wrong9{width:36.7%;left:35%;margin-top:2.2em}
.s1_wrong10{width:22.5%;left:65%;margin-top:2.6em}
.s1_wrong11{width:57.6%;left:15%;margin-top:1.8em}
.s1_wrong12{width:31.4%;left:65%;margin-top:2.2em}
.s1_wrong13{width:42.7%;left:25%;margin-top:0.6em}
.s1_wrong14{width:14.9%;left:75%;margin-top:1.8em}
.s1_wrong15{width:25.1%;left:35%;margin-top:2.2em}
.s1_wrong16{width:35.4%;left:35%;margin-top:0.6em}
.s1_wrong17{width:55.6%;left:25%;margin-top:1.8em}
.s1_wrong18{width:36.7%;left:5%;margin-top:2.2em}
.s1_wrong19{width:31.1%;left:45%;margin-top:0.6em}
.s1_wrong20{width:42.7%;left:25%;margin-top:1.8em}
.s1_wrong21{width:34.1%;left:35%;margin-top:2.2em}
.s1_wrong22{width:25.5%;left:55%;margin-top:0.6em}
.s1_wrong23{width:40.7%;left:35%;margin-top:1.8em}
.s1_wrong24{width:23.5%;left:5%;margin-top:2.2em}
.s1_wrong25{width:29.8%;left:65%;margin-top:2.6em}
.s1_wrong26{width:26.8%;left:5%;margin-top:1.8em}
.s1_wrong27{width:15.2%;left:75%;margin-top:2.2em}
.s1_wrong28{width:22.8%;left:25%;margin-top:0.6em}
.s1_wrong29{width:24.2%;left:35%;margin-top:1.8em}
.s1_wrong30{width:20.2%;left:15%;margin-top:2.2em}
.s1_wrong31{width:19.2%;left:15%;margin-top:0.6em}
.s1_wrong32{width:27.5%;left:25%;margin-top:1.8em}
.s1_wrong33{width:29.8%;left:45%;margin-top:2.2em}
.s1_wrong34{width:28.1%;left:25%;margin-top:0.6em}
.s1_right1{width:25.5%;left:15%;margin-top:1.2em}
.s1_right2{width:27.8%;left:45%;margin-top:0.6em}
.s1_right3{width:31.1%;left:55%;margin-top:2.2em}
.s1_right4{width:34.4%;left:25%;margin-top:0.9em}
.s1_right1t{width:65% !important;left:-32%;top:10em}
.s1_right2t{width:65% !important;left:-22%;top:21em}
.s1_right3t{width:65% !important;left:90%;top:22.4em}
.s1_right4t{width:65% !important;left:75%;top:12.4em}
#shake_but{width:46%;left:27%}
#stage2_bg{background-image:url(../images/sen2_bg.jpg)}
.s2_wrong{height:29em;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
.s2_right1{width:10.4%;left:45%}
.s2_right2{width:10.4%;left:82%}
.s2_right3{width:10.4%;left:78%}
.s2_right4{width:15.8%;left:8%}
.s2_right5{width:10.4%;left:89%}
.s2_right1t{left:32%}
.s2_right2t{left:70%}
.s2_right3t{left:68%}
.s2_right4t{left:1%}
.s2_right5t{left:70%}
#stage3_bg{background-image:url(../images/sen3_bg.jpg)}
.s3_wrong{height:100%;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}
.s3_right1{width:10.4%;left:1%;top:3em}
.s3_right2{width:10.4%;left:89%;top:5em}
.s3_right3{width:10.4%;left:1%;top:11.5em}
.s3_right4{width:10.4%;left:63%;top:11em}
.s3_right5{width:10.4%;left:2%;top:18.5em}
.s3_right6{width:10.4%;left:36%;top:23.5em}
.s3_right1t{left:0;top:7em}
.s3_right2t{left:68%;top:10em}
.s3_right3t{left:0;top:16em}
.s3_right4t{left:52%;top:15em}
.s3_right5t{left:0;top:24em}
.s3_right6t{left:25%;top:28em}
.logo{top:0.8em}
#allwin,#alllose{position:fixed;background:#ffe7e7;height:100%}
#timer{height:3em;bottom:0.5em}
#timer_bg,#index_timer_bg{background-image:url(../images/timer_bg.png);width:52%;left:29%;height:1.5em;top:0.5em}
#timer_line,#index_timer_line{background-image:url(../images/timer_line.png);width:100%;height:1.5em;background-position:left}
#timer_txt{background-image:url(../images/timer_board.png);width:17%;left:16%;height:3.2em;top:-1em;color:#63450f;font-size:1.2em;font-weight:bold;text-align:center;line-height:3.4em;padding-right:2%}
#lose_restart{position:absolute;width:30%;left:16%}
#lose_tonext{position:absolute;width:30%;right:16%}
#sinker{width:25%;margin-left:-2%;margin-top:-1.5em}
#seven{width:18%;margin-left:-9%}
/* display */
#shake_txt,#shake_but,#lose,#sinker,#seven,#timer,#allwin,#alllose,#rule,#product,#start1,#start2,#start3,#win,#ready2,#ready3{display:none}
.s_rt{position:absolute;z-index:9;width:32%;ilter:alpha(opacity=0);-moz-opacity:0;opacity:0;display:none}
#allwin,#alllose{background:#fffdec}
.fin_share{width:44%;margin-left:28%}
.fin_restart{width:25%;margin-left:37.5%}
.share{background-image:url(../images/share.png);left:0;top:0;display:none}
