@charset "utf-8";
/* 全局 */
body{margin:0;font-family:"Arial";color:#000}
img{width:100%;border:none}
.top{width:100%;height:6em;background-image:url(../images/title_bg.gif);background-repeat:no-repeat;background-position:bottom;background-size:100%;
    margin-bottom: 1em;}
.foot{width:90%;text-align:right;margin-left:5%;color:#ff8686;font-size:0.9em;padding:1em 0;line-height:1.4em}
.highl{color:#ff8686;}
.top_txt{padding-top:4.5em;width:70%;text-align:right;font-size:0.7em;margin-left:2%;line-height:1.4em}
.title{width:90%;margin-left:5%;color:#ff8686;font-size:1.1em;padding:0.8em 0 0.4em;line-height:1.4em}
.txt_1{width:90%;margin-left:5%;font-size:0.8em;padding:0.4em 0;line-height:1.6em}
.img_1{width:90%;margin-left:5%;font-size:0.8em;padding:0.4em 0}
.img_2{width:48%;float:left;margin: 0 5% 0.2em 0}
.tip_1{width:90%;margin-left:5%;color:#ff8686;font-size:0.9em;padding:0.5em 0 0;line-height:1.6em}
.tip_2{width:90%;margin-left:5%;color:#1fbeb5;font-size:0.9em;padding:0.5em 0 0;line-height:1.6em}
.label{width:100%;border:none;margin:1em 0}
.lab_f{height:0.4em;background-image:url(../images/lab_bg1.gif);background-size:100%}
.lab_m{background-image:url(../images/lab_bg2.gif);background-size:100% 100%;padding:0.2em 8% 0.4em;font-style:italic}
.txt_r{text-align:right}
.video1,.video2{width:90%;margin-left:5%;}

/*add 2015/9/7*/
.top_title{
    padding-top: 2.75em;
    width: 70%;
    padding-left: 1em;
    color: #333333;
    font-size: 1.125em;
    line-height: 1.4em;
}

.card{
    margin: 1em  0.8333em;
    border-radius: .5em;
    overflow: hidden;
    border: 2px solid #f789ac;
}
.card *{
    margin: 0;
}
.card a,.card a:focus,.card a:active{
    outline: none;
    text-decoration: none;
    color: #666666;
}
.card-header{
    background: #f789ac;
}
.card-header .card-title{
    padding: 0.625em 0.875em;
    color: white;
    font-size: 1em;
    white-space:nowrap;
}
.card-header .card-title-icon{
    width: 2em;
    height: 2em;
    background: url("../images/card-icon.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: .25em;
}
.card-header .card-header-body{
    font-size: .75em;
    line-height: 1.5;
    color: white;
    padding: .5em  1.166667em;
    border-top: 1px solid #f47096;
}
.card-body{
    font-size: 0.875em;
    padding: 0.8571em;
    line-height: 1.85714;
}
.card-body .name,.card-body .phone-num{
    color: #f789ac;
}
.card-body .user-list{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 10.5em;
    display: block;
}
.card-body .user-avatar{
    display: block;
    border-radius: 1.8125em;
    background: #c9c9c9;
    width: 2em;
    height:2em;
    margin-top: .25em;
    margin-bottom: .25em;
    margin-right: .1em;
}
.card-body .user-avatar img{max-width: 100%;}
.card-body .user-name{color: #f95086;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 6em;
    display: block;
    font-size: .92857em;}
.card-body .user-status{
    font-size: .85714em;color: #333333;
    margin-right: .5em;
    margin-left: .5em;
}
.card-body .user-date{color: #999999;
    font-size: .85714em;}
.card-footer{
   padding:  .2em .75em .75em;
}
.card-footer table{
    float: right;
    color: #666;
    font-size: 0.75em;
    border-collapse: collapse;
    border-spacing: 0;
}
.card-footer .btn{
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #3ec576;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #3ec576;
    padding: 0.6667em 3em;
    font-size: 0.9375em;
    /*width: 11.33333em;*/
}
.card-footer .callout{
    background: url("../images/icon-callout.png");
    display: block;
    width: 1.416667em;
    height: 1.416667em;
    -webkit-background-size:100% 100%;
    background-size: 100% 100%;
}
.card-footer .icon-sms{
    background: url("../images/icon-bubble.png");
    width: 1.5em;
    height: 1.416667em;
    display: block;
    -webkit-background-size: 100% 100%;
    background-size:100% 100%;
}
.card-footer .middle-line{
    height: 2em;
    margin: auto 0.75em;
    display: block;
    width: 1px;
    background: #e5e5e5;
}
.card-footer .callout,.card-footer .icon-sms{margin: 0 auto .5em}
.card-footer .about-more{color: #999999;
    font-size: .75em;}

